h1 {
  text-align: center;
}

.container {
  margin: auto;
  position: relative;
  width: 20%;
  padding: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 8%;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(176, 176, 176, 1);
  -moz-box-shadow: 1px 1px 4px 0px rgba(176, 176, 176, 1);
  box-shadow: 1px 1px 4px 0px rgba(176, 176, 176, 1);
  background-color: #4d4d4d;
}
.header {
  background-color: #81c784;
  padding: 10px;
  color: #fff;
  text-align: center;
}
table {
  width: 100%;
}
td {
  width: 25%;
}
.result {
  font-size: 24px;
  padding: 16px 5px;
  font-weight: 700;
  text-align: right;
  width: 96%;
  border: none;
  background-color: #d2dbe6;
}
.global {
  padding: 15px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 6%;
  background-color: #f2f2f2;
  width: 100%;
}

.first-row {
  padding: 7px;
}

.orange {
  background-color: orange;
}
